.button {
  color: white;
  background-color: hsl(0,0%, 60%);
  border-style: none;
  font-size: 22px;
  padding: 16px;
}

.button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 50%);
}

.button:active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0,0%, 60%);
}

.lightSeaGreenColorImage {
  border: 6px solid hsl(177, 70%, 41%);
  box-shadow: 3px 3px 15px hsl(177, 70%, 41%);
}

.lightSeaGreenColorName {
  color: hsl(177, 70%, 41%);
}

.lightblueColorUnderline {
  border-bottom: 3px solid hsl(177, 70%, 41%);
} 

.lightSeaGreenBackground {
  background-color: hsl(177, 70%, 41%);
}

.whiteBackground {
  background-color: hsl(0, 0%, 100%);
}