.button {
  color: white;
  background-color: hsl(0,0%, 60%);
  border-style: none;
  font-size: 22px;
  padding: 16px;
}

.button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 50%);
}

.button:active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0,0%, 60%);
}

.lightGrayBackground {
  background-color: hsl(0, 0%, 83%);
}

.whiteBackground {
  background-color: hsl(0, 0%, 100%);
}