.button {
  color: white;
  background-color: hsl(0,0%, 60%);
  border-style: none;
  font-size: 22px;
  padding: 16px;
}

.button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 50%);
}

.button:active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0,0%, 60%);
}

.lightSkyBlueColorImage {
  border: 6px solid hsl(203, 92%, 55%);
  box-shadow: 3px 3px 15px hsl(203, 92%, 55%);
}

.lightSKyBlueColorName {
  color: hsl(203, 92%, 55%);
}

.lightSkyBlueColorUnderline {
  border-bottom: 3px solid hsl(203, 92%, 55%);
} 

.lightSkyBlueBackground {
  background-color: hsl(203, 92%, 75%);
}

.whiteBackground {
  background-color: hsl(0, 0%, 100%);
}