.nav {
  background-color: hsl(210, 13%, 55%);
}

.navUL {
  padding: 16px;
  line-height: 1,6;
  text-align: center;
}

.navLink {
  color: hsl(0, 0%, 100%);
  list-style: none;
  text-decoration: none;
  cursor: context-menu;
}

.navLinkLI {
  padding: 6px;
}

.navLinkLI:hover {
  background-color: hsl(210, 13%, 60%);
}

.navLinkLI--border-bottom {
  padding: 6px;
  border-bottom: 3px solid hsl(0, 0%, 100%);
}