.tabelAboutMySkills {
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 50%);
}

.tableCaptionAboutMySkills {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 50%);
  font-weight: bold;
  font-size: 30px;
  padding: 15px;
}

.tableTH {
  background-color: hsl(16, 100%, 88%);
  color: hsl(0, 0%, 100%);
  padding: 10px;
  transition: background 0.3s;
}

.tableTH:hover {
  background-color: hsl(203, 92%, 55%);
}

.tableTD {
  color: hsl(0, 0%, 50%);
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  transition: color 0.3s;
}

.tableTD:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(203, 92%, 55%);
}

.tableTH, .tableTD {
  text-align: center;
  border: 1px solid hsl(0, 0%, 50%);
}

.tableTR:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 50%);
}